/* Estructura general de la página */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

/* ===== HEADER ===== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #555;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Botón del perfil */
.profile-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: #cfd6de;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-btn:hover {
  background-color: #b0bac6;
}

/* Botón del menú */
.menu-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* ===== MAIN ===== */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 40px 20px;
}


/* ===== RESPONSIVO ===== */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
  }

  .filter-box {
    grid-template-columns: 1fr;
  }

  .search-bar {
    width: 100%;
    padding: 25px;
  }
}
