<header>
  <div class="header-content">

    <div class="logo">
      <img src="LogoAloja.png" alt="Aloja">
    </div>

    <div class="header-title">
      <h1>Aloja</h1>
      <p>Tu espacio, tu experiencia.</p>
    </div>

    @if(!isLogged) {
      <div class="auth-buttons">
        <button routerLink="/login" class="btn-primary">Iniciar Sesión</button>
        <button routerLink="/register" class="btn-secondary">Crear cuenta</button>
      </div>
    }
    @else {

      @if(isHost) {
        <div class="user-info">

          <button routerLink="/create-listing" class="btn-link-alt">Nuevo alojamiento</button>
          <button routerLink="/reserv-host" class="btn-link-alt">Reservas</button>
          <button routerLink="/metricas" class="btn-link-alt">Métricas</button>
          <button routerLink="/my-places" class="btn-link-alt">Mis alojamientos</button>

          @if(profilePhoto) {
            <img [src]="profilePhoto" alt="Foto de perfil" class="user-photo" (click)="getProfileHost()">
          }
          @else {
            <button class="user-initial" (click)="getProfileHost()">
              {{ initial }}
            </button>
          }

          <button (click)="logout()" class="logout-button">Cerrar Sesión</button>
        </div>
      }

      @else {
        <div class="user-info">

          <button routerLink="/mis-reservas" class="btn-link-alt">Mis reservas</button>

          @if(profilePhoto) {
            <img [src]="profilePhoto" alt="Foto de perfil" class="user-photo" (click)="getProfile()">
          }
          @else {
            <button class="user-initial" (click)="getProfile()">
              {{ initial }}
            </button>
          }

          <button (click)="logout()" class="logout-button">Cerrar Sesión</button>
        </div>
      }
    }

  </div>
</header>
