header {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  background: white;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between; /* izquierda y derecha */
  align-items: center;
  margin: 0 auto; /* centra el contenedor */
}

.logo img {
  height: 150px;
}

.header-title {
  text-align: center;
  flex: 1;
}

.header-title h1 {
  margin: 0;
  font-size: 3rem; /* antes 1.8rem */
  font-weight: 700;
  color: #333;
  letter-spacing: 1px;
}

.header-title p {
  margin: 0;
  margin-top: -5px;
  font-size: 2rem; /* antes 0.9rem */
  font-style: italic;
  color: #6a6a6a;
  letter-spacing: 0.5px;
}

.auth-buttons button {
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

/* Botón principal */
.btn-primary {
  background-color: #4da6ff;
  color: white;
}

.btn-primary:hover {
  background-color: #1e90ff;
}

/* Botón secundario */
.btn-secondary {
  background-color: transparent;
  color: #4da6ff;
  border: 2px solid #4da6ff;
}

.btn-secondary:hover {
  background-color: #e6f3ff;
}
