<div class="cards-container">
  @for (item of places(); track item.id) {
    <div class="property-card"  [routerLink]="'/detail-listing/' + item.id">
      
      <!-- Imagen -->
      <div class="card-image-wrapper">
        <img 
          [src]="item.image?.[0] || 'LogoAloja.png'" 
          [alt]="item.title"
          class="card-image"
        >
      </div>

      <!-- Contenido -->
      <div class="card-content">
        
        <!-- Título -->
        <h3 class="card-title">
          {{ item.title }}
        </h3>



        <div class="card-footer">
          <div class="card-rating">
            <span class="star">★</span>
            <span class="rating-value">{{ item.averageRating || '0.0' }}</span>
          </div>

          <div class="badge">
            <span class="rating-value">{{ item.maxGuests }}</span>
            <span class="material-symbols-outlined">person</span>
          </div>
          
          <div class="card-price">
            <span class="price-amount">${{ item.nightlyPrice  }}</span>
            <span class="price-period">/ noche</span>
          </div>
        </div>

      </div>
    </div>
  }

</div>